@model BookViewModel

<h1>My Bookstore</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />

}

<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-classes-enabled="true" class="btn-group pull-right m-1">
</div>

<br />

@*BOOTSTRAP ADDED #2: Added in a social media link with my facebook, but the image is the actual link to my Facebook rather than just some words*@
<footer>Click on the image of the bookshelf below this text to go to my Facebook if you want to message me about more book suggestions!</footer>
<a href="https://www.facebook.com/connor.elder.98" class="btn btn-outline-success">
    <img src="https://t4.ftcdn.net/jpg/03/40/07/85/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg" alt="Still click here if image is not showing up"/>  
</a>
