@model BookViewModel

<h1>My Bookstore</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />

}

<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-classes-enabled="true" class="btn-group pull-right m-1">
</div>

<br />

@*BOOTSTRAP ADDED #2: Added in a social media link with my facebook using an "i" tag and other features of a button*@
<footer>Contact me on Facebook through the link below if you want more suggestions for great books!</footer>
<a href="https://www.facebook.com/connor.elder.98" class="btn btn-outline-success"><i class="fab fa-facebook-f"></i>My Facebook Profile</a>
