@page
@model Mission9_celder20.Pages.ConfirmationModel

@{
}

@*Confirmation page for a user's order*@
<div class="text-center">
    <h2>
        Your order has been completed! It should be shipped to your address in 5-7 business days.
    </h2>
    <a class="btn btn-outline-primary" asp-controller="Home">Return Home</a>
</div>
